<!DOCTYPE html>
<html ng-app="userModule">
<head>
<meta charset="ISO-8859-1">
<title>All Users</title>
<script type="text/javascript"
	src="bower_components/angular/angular.min.js"></script>
<script type="text/javascript"
	src="bower_components/angular-animate/angular-animate.min.js"></script>
<script type="text/javascript"
	src="bower_components/angular-mocks/angular-mocks.js"></script>
<script type="text/javascript"
	src="bower_components/angular-resource/angular-resource.min.js"></script>
<script type="text/javascript"
	src="bower_components/angular-route/angular-route.min.js"></script>
<script type="text/javascript"
	src="bower_components/jquery/dist/jquery.min.js"></script>
<link type="text/css"
	href="bower_components/bootstrap/dist/css/bootstrap.css"></link>
	<script type="text/javascript">
		var userModule = angular.module('userModule', []);
		userModule.service('LocalUserService', function() {
			var randomUid = 1;
			var users = [{
								"id" : "292cab5c-0462-455d-9bcc-c8eb8a0d3d41",
								"firstName" : "Gaurav Mahilpuria123",
								"lastName" : "Mazra saab123"
							}];
			
			
			this.findAll = function() {
				return users;
			}
			
			this.findById = function(id) {
				for (user in users) {
					if (user.id === id)
						return user;
				}
				return null;
			}
			
			this.remove = function(user) {
				var u;
				for ( var i = 0; i < users.length; i++) {
					u = users[i];
					if (u.id === user.id)
					{
						users.splice(i, 1);
						break;
					}
				}
			}
			
			this.update = function(user) {
				var u;
				for ( var i = 0; i < users.length; i++) {
					u = users[i];
					if (u.id === user.id)
					{
						users[i] = user;
						break;
					}
				}
			}
    
			this.save = function(user) {
				users[users.length] = user;
			}
		});
 
		userModule.controller('UserController', ['$scope', 'LocalUserService',  function($scope, LocalUserService) {
			$scope.users = LocalUserService.findAll();
			$scope.newUser = {};
			
			$scope.deleteUser = function(userId) {
				var user = LocalUserService.findById(userId);
				if (user == null) {
					alert('Exception occured!!! Unable to delete...');
					return;
				}
				LocalUserService.remove(user);
			}
			
			$scope.updateUser = function(u) {
				var user = LocalUserService.findById(u.id);
				if (user == null) {
					alert('Exception occured!!! Unable to update');
					return;
				}
				LocalUserService.update(user);
			}
			
			$scope.saveUser = function(user) {
				++randomUid;
				user.id = randomUid + "";
				LocalUserService.save(user);
			}
			
			$scope.updateOrSaveUser = function() {
				var u = $scope.newUser;
				
				if (u.id == null || typeof u.id == 'undefined' || u.id == '') {
					saveUser(u);
				}
				else
					updateUser(u);
			}
			
			$scope.editUser = function(userId) {
				var user = LocalUserService.findById(userId);
				
				if (user == null) {
					alert('Exception occoured. couldnt process edit...');
					return;
				}
				$scope.newUser = user;
			}
			
			$scope.createUser = function() {
				$scope.newUser = {};
			}
		}]);
	</script>
</head>
<body>
		<div class="container" ng-controller="UserController">
			
		</div>
</body>
</html>