<!DOCTYPE html>
<html ng-app="userModule">
<head>
<meta charset="ISO-8859-1">
<title>All Users</title>
<script type="text/javascript"
	src="bower_components/angular/angular.min.js"></script>
<script type="text/javascript"
	src="bower_components/angular-animate/angular-animate.min.js"></script>
<script type="text/javascript"
	src="bower_components/angular-mocks/angular-mocks.js"></script>
<script type="text/javascript"
	src="bower_components/angular-resource/angular-resource.min.js"></script>
<script type="text/javascript"
	src="bower_components/angular-route/angular-route.min.js"></script>
<script type="text/javascript"
	src="bower_components/jquery/dist/jquery.min.js"></script>
<link type="text/css"
	href="bower_components/bootstrap/dist/css/bootstrap.css"></link>
	<script type="text/javascript">
		var userModule = angular.module('userModule', []);
		userModule.service('LocalUserService', function() {
			var randomUid = 1;
			var users = [{
								"id" : "292cab5c-0462-455d-9bcc-c8eb8a0d3d41",
								"firstName" : "Gaurav Mahilpuria123",
								"lastName" : "Mazra saab123"
							}];
			
			
			this.findAll = function() {
				return users;
			}
			
			this.findById = function(id) {
				for (contact in contacts) {
				}
			}
		});
 



		
		
		
		
		
		
		
	</script>
</head>
<body>
		<div class="container" ng-controller="UserController">
			{{hello}} <button ng-click="clickedHello()">Click me</button>
		</div>
</body>
</html>