<!DOCTYPE html>
<html ng-app="userModule">
<head>
<meta charset="ISO-8859-1">
<title>All Users</title>
<script type="text/javascript"
	src="WEB_INF/bower_components/angular/angular.min.js"></script>
<script type="text/javascript"
	src="WEB_INF/bower_components/angular-animate/angular-animate.min.js"></script>
<script type="text/javascript"
	src="WEB_INF/bower_components/angular-mocks/angular-mocks.js"></script>
<script type="text/javascript"
	src="WEB_INF/bower_components/angular-resource/angular-resource.min.js"></script>
<script type="text/javascript"
	src="WEB_INF/bower_components/angular-route/angular-route.min.js"></script>
<script type="text/javascript"
	src="WEB_INF/bower_components/jquery/dist/jquery.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="WEB_INF/bower_components/bootstrap/dist/css/bootstrap.css"></link>
<link rel="stylesheet" type="text/css"
	href="WEB_INF/bower_components/bootstrap/dist/css/bootstrap-theme.css"></link>
	<script type="text/javascript">
		var userModule = angular.module('userModule', []);
		userModule.value('usersModelValue', []);
		
		userModule.service('ServerUserService', ['$http', '$q', 'usersModelValue', '$log', function($http, $q, usersModelValue, $log) {
			
			this.findAll = function() {
				$http.get('/users/').then(function successCallback(response) {	
						angular.copy(response.data, usersModelValue);
					}, function errorCallback(response) {
						$log.error(response.status + " " + response.statusText);
					});
			}
			
			this.findAllLocal = function() {
				return $http.get('/users/');
			}
			
			this.findById = function(id) {
				return $http.get('/users/' + id);
			}
			
			this.remove = function(id) {
				$http.delete('/users/' + id).then(function successCallback(response) {
			  		$log.log(response.status + " " + response.statusText + " data:" + response.data);
				}, function errorCallback(response) {
					$log.error(response.status + " " + response.statusText);
				});
			}
			
			this.update = function(user) {
				$http.put('/users/' + user.id, user).then(function successCallback(response) {
			  		$log.log(response.data);
				}, function errorCallback(response) {
					log.error(response.status + " " + response.statusText);
				});
			}
    
			this.save = function(user) {
				$http.post('/users/', user).then(function successCallback(response) {
			  		$log.log(response.data);
				}, function errorCallback(response) {
					$log.error(response.status + " " + response.statusText);
				});
			}
		}]);
		
		
		userModule.controller('UserController', ['$scope', 'usersModelValue', 'ServerUserService', '$timeout',  function($scope, usersModelValue, ServerUserService, $timeout) {
			$scope.users = usersModelValue;
			
			ServerUserService.findAll();
			
			$scope.newUser = {};
			$scope.showAllUsers = true;
			
			$scope.deleteUser = function(userId) {
				ServerUserService.remove(userId);
				$scope.findAllLocal();
			}
			
			$scope.updateUser = function(user) {
				ServerUserService.update(user);
				$scope.findAllLocal();
			}
			
			$scope.saveUser = function(user) {
				ServerUserService.save(user);
				$scope.findAllLocal();
			}
			
			$scope.saveOrUpdateUser = function() {
				debugger;
				var user = $scope.newUser;
				
				if (user.id == null || typeof user.id == 'undefined' || user.id == '') {
					$scope.saveUser(user);
				}
				else
					$scope.updateUser(user);
					
				$scope.showAllUsers = true;
			}
			
			$scope.editUser = function(userId) {
				ServerUserService.findById(userId).then(function successCallback(response) {
					$scope.newUser = response.data;
					$scope.showAllUsers = false;
				}, function errorCallback(response) {
					alert(response.status + " " + response.statusText);
				});
			}
			
			$scope.createUser = function() {
				$scope.newUser = {};
				$scope.showAllUsers = false;
			}
			
			$scope.cancelAction = function() {
				$scope.newUser = {};
				$scope.showAllUsers = true;
			}
			
			$scope.findAllLocal = function() {
				$timeout( function(){
				var all = ServerUserService.findAllLocal();
				all.then(function successCallback(response) {	
					angular.copy(response.data, $scope.users);
				}, function errorCallback(response) {
					alert(response.status + " " + response.statusText);
				});
				}, 2000);
			}
			
		}]);
	</script>
</head>
<body>
		<div class="container" ng-controller="UserController">
			<div class="row addUser">
				<div class="col-md-12">
					<button ng-click="createUser()">Create New User</button>
				</div>
			</div>
			
			<div class="container createOrUpdateNewUser" ng-show="!showAllUsers">
				<form novalidate>
					<div class="row">
						<div class="col-md-3">
							First Name
						</div>
						<div class="col-md-9">
							<input type="text" ng-model="newUser.firstName" required>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3">
							Last Name
						</div>
						<div class="col-md-9">
							<input type="text" ng-model="newUser.lastName" required>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<button ng-click="saveOrUpdateUser()">Create/Update</button>&nbsp;&nbsp;&nbsp;
							<button ng-click="cancelAction()">Cancel</button>
						</div>
					</div>
				</form>
				
			</div>
			
			<div class="row showAllUsers" ng-show="showAllUsers">
				<div class="col-span-12">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>First Name</th>
								<th>Last Name</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="user in users">
								<td>{{user.firstName}}</td>
								<td>{{user.lastName}}</td>
								<td><button ng-click="editUser(user.id);">Edit</button>&nbsp;&nbsp;&nbsp;<button ng-click="deleteUser(user.id);">Delete</button></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>			
		</div>
</body>
</html>